<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>OA办公系统</title> <!-- Import style -->
  <link rel="stylesheet" href="assert/index.css"/>
  <!-- Import Vue 3 -->
  <script src="assert/vue.global.js"></script>
  <!-- Import component library -->
  <script src="assert/index.full.js"></script>
  <script src="assert/axios.min.js"></script>
  <style>
    .login-box {
      width: 350px;
      margin: 200px auto;
      border: 1px solid #f6f6f6;
      padding: 35px 35px 12px 35px;
      border-radius: 5px;
      box-shadow: 0 0 25px #ddd;
    }

    .login-title {
      text-align: center;
    }

    .login-btn {

    }

    .show{
      display: inline;
    }
    .hidden{
      display: none;
    }
  </style>
</head>
<body>
<div id="app">

  <div id="login" :style="{display:flag1}" s>
    <el-form label-width="80px" class="login-box" :model="form" :rules="aa" ref="loginForm">
      <h2 class="login-title">OA办公系统</h2>
      <el-form-item label="账号" prop="username">
        <el-input type="text" placeholder="请输入账号" v-model="form.username"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input type="password" placeholder="请输入密码" v-model="form.password"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" class="login-btn" @click="onSubmit">登录</el-button>
        <el-button type="primary" class="login-btn" @click="tosignup">注册</el-button>
      </el-form-item>
    </el-form>
  </div>

  <div id="sign" :style="{visibility:flag2}">
    <el-form label-width="80px" class="login-box" :model="form" :rules="aa" ref="loginForm">
      <h2 class="login-title">OA办公系统</h2>
      <el-form-item label="账号" prop="username">
        <el-input type="text" placeholder="请输入账号" v-model="form.username"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input type="password" placeholder="请输入密码" v-model="form.password"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input type="password" placeholder="请输入重复密码" v-model="form.repassword"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" class="login-btn" @click="onSubmit">登录</el-button>
        <el-button type="primary" class="login-btn" @click="signup">注册</el-button>
      </el-form-item>
    </el-form>
  </div>


</div>
</body>
<script>

  const Main = {
    data() {
      return {
        form: {
          username: '',
          password: '',
          repassword: '',

        },
        aa: {
          username: [{
            required: true,
            message: "账号不能为空",
            trigger: 'blur'
          }],
          password: [{
            required: true,
            message: "密码不能为空",
            trigger: 'blur'
          }]
        },
        baseURL: "/oa",
        flag1: 'none',
        flag2: 'visible',
      }
    },
    methods: {
      onSubmit() {
        localStorage.baseURL = this.baseURL
        //取出表单元素
        const form = this.$refs['loginForm'];
        form.validate((res) => {
          if (res) {
            // 一般的操作流程是:ref 绑定控件，$refs 获取控件
            console.log("表单校验成功，准备提交数据");
            const form = this.form;
            const $message = this.$message;
            const params = new URLSearchParams();
            params.append("username", form.username);
            params.append("password", form.password);
            // const params = {
            //     "username":form.username,
            //     "password":form.password,
            // }


            axios.post(this.baseURL + "/login/login", params).then(
                response => {
                  console.info(response);
                  //这里的data自己封装的数据
                  const json = response.data;
                  console.log(json);
                  if (json.code == "200") {
                    localStorage.uid = json.data.user.userId;
                    localStorage.eid = json.data.user.employeeId;

                    window.location.href = this.baseURL + "/index.html";
                  } else {
                    $message.error({message: json.message, offset: 100});
                  }
                });
          }
        });
      }
    }
  }


  const app = Vue.createApp(Main);
  app.use(ElementPlus);
  app.mount("#app");
</script>
</html>
